.heroContainer {
    display: flex;
    align-items: left;
    justify-content: left;
    
    padding: 2rem;
  }
  
  .textContainer {
    max-width: 800px;
    padding-right: 1.5rem;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size:3.0em;
    font-weight: bold;
    color: #333;
    
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    margin-top: 20px;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .problemList {
    font-family: 'Open Sans', sans-serif;
    list-style-type: none;
    padding-left: 0;
    font-size: 1.3rem;
    color: #666;
  }
  
  .problemList li {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.3rem;
  }
  
  .createRecipeBtn {
    display: block;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 200px;
    background-color: #d6b6b6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    font-weight: bold;
    text-decoration: none;transition: background-color 0.2s, color 0.2s;
  }
  
  .createRecipeBtn:hover {
    background-color: #c5a6a6;
    text-decoration: none;
    
  }
  